<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>System Zarządzania Wydarzeniami</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'homepage.css' %}">
    <script src="{% static 'homepage.js' %}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
<header>
    <h1>System Zarządzania Wydarzeniami</h1>
    <div class="buttons">
        <button class="dark-mode" onclick="toggleDarkMode()"><i class="fas fa-moon"></i> Dark Mode</button>
        <button class="light-mode" onclick="toggleLightMode()"><i class="fas fa-sun"></i> Light Mode</button>
        <button class="background-zero" onclick="clearBackground()"><i class="fas fa-eye-slash"></i> Wyłącz tło</button>
        <button class="restore-background" onclick="restoreBackground()" style="display: none;"><i
                class="fas fa-eye"></i> Przywróć tło
        </button>
    </div>
</header>
<nav>
    <div class="menu">
        <ul>
            <li><a href="{% url 'homepage' %}"><i class="fas fa-home"></i> Strona główna</a></li>
            <li><a href="{% url 'zadanie' %}"><i class="fas fa-tasks"></i> Zadania</a>
                 <ul>
                    <li><a href="{% url 'zadania_dodaj' %}"><i class="fas fa-plus"></i>  Dodaj zadania i projekty</a></li>
                    <li><a href="{% url 'zadania_usun' %}"><i class="fas fa-trash"></i> Usuń wydarzenie</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'zadania_wyszukaj' %}"><i class="fas fa-check-square"></i> Zakończ zadanie lub projekt</a>
                    </li>
                    {% endif %}
                </ul>
            </li>
            <li><a href="{% url 'baza' %}"><i class="far fa-calendar-alt"></i> Baza Wydarzeń</a></li>
        </ul>
    </div>
</nav>
<main>
    <section>
        <section class="user">
            <div class="rejestracja">
                <h2>Rejestracja przeszła pomyślnie</h2><br>
                <p>Możesz się teraz zalogować</p><br>
                <a href="{% url 'homepage' %}">Przejdź do strony głównej i zaloguj się</a>
            </div>
        </section>
    </section>
</main>
<div class="odstep"></div>
<footer>
    <p>© 2023 System Zarządzania Zadaniami</p>
</footer>
</body>
</html>