<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>System Zarządzania Wydarzeniami</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'homepage.css' %}">
    <script src="{% static 'homepage.js' %}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
<header>
    <h1>System Zarządzania Wydarzeniami</h1>
    <div class="buttons">
        <button class="dark-mode" onclick="toggleDarkMode()"><i class="fas fa-moon"></i> Dark Mode</button>
        <button class="light-mode" onclick="toggleLightMode()"><i class="fas fa-sun"></i> Light Mode</button>
        <button class="background-zero" onclick="clearBackground()"><i class="fas fa-eye-slash"></i> Wyłącz tło</button>
        <button class="restore-background" onclick="restoreBackground()" style="display: none;"><i
                class="fas fa-eye"></i> Przywróć tło
        </button>
    </div>
    {% for message in messages %}
        <div class="messages">
            <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                <strong>Powiadomienie: </strong> {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    {% endfor %}
</header>
<nav>
    <ul>
        <li><a href="{% url 'homepage' %}"><i class="fas fa-home"></i> Cofnij do strony głównej</a></li>
        {% if user.is_authenticated %}
            <li><a href="{% url 'zadania_usun' %}"><i class="fas fa-trash"></i> Usuń wydarzenie</a></li>
            <li><a href="{% url 'zadania_wyszukaj' %}"><i class="fas fa-check-square"></i> Zakończ zadanie lub
                projekt</a>
            </li>
        {% endif %}
    </ul>
</nav>
<main>
    <section>
        <div class="container">
            <div class="left-column">
                <section class="user">
                    <h2>Dodaj Wydarzenie</h2>
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="typ_elementu">Typ Elementu:</label>
                            <select id="typ_elementu" name="typ_elementu" onchange="showFields()">
                                <option value="select">Wybierz typ elementu</option>
                                <option value="task">Zadanie</option>
                                <option value="project">Projekt</option>
                            </select>

                            <label for="nazwa_elementu">Nazwa elementu:</label>
                            <input type="text" id="nazwa_elementu" name="nazwa_elementu">
                            <label for="priority">Priorytet:</label>
                            <input type="number" id="priority" name="priority" min="1" max="5">
                            <!-- Pole Data zadania -->
                            <div class="hidden" id="on_date_div">
                                <label for="on_date">Data zadania:</label>
                                <input type="datetime-local" id="on_date" name="on_date">
                            </div>

                            <!-- Pola Data rozpoczęcia i zakończenia projektu -->
                            <div class="hidden" id="project_fields">
                                <label for="start_date">Data rozpoczęcia projektu:</label>
                                <input type="datetime-local" id="start_date" name="start_date">
                                <label for="end_date">Data zakończenia projektu:</label>
                                <input type="datetime-local" id="end_date" name="end_date">
                            </div>
                            <br>
                            <input type="submit" value="Dodaj element"><br>
                        </div>
                    </form>
                </section>
            </div>
            <div class="right-column">
                <section class="user">
                    {% if user.is_authenticated %}

                        {% if events %}
                            <h2>Wszystkie wydarzenia:</h2>
                            <div class="task-list">
                                <ul>
                                    {% for event in events %}
                                        <li class="task">{{ event }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% else %}
                            <p>Brak wydarzeń do wyświetlenia.</p>
                        {% endif %}

                    {% else %}
                        <p>Aby zobaczyć wydarzenia, proszę zaloguj się na stronie głównej.</p>
                    {% endif %}
                </section>
            </div>
        </div>
    </section>
</main>
<div class="odstep"></div>
<footer>
    <p>© 2023 System Zarządzania Zadaniami</p>
</footer>
</body>
</html>
